%%-*- mode: erlang -*-
{sub_dirs, ["rel"]}.

{cover_enabled, true}.

{lib_dirs, ["deps"]}.

{erl_opts, [debug_info, fail_on_warning,
            {i, "./deps/dns/include"},
            {i, "../dns/include"},
            {parse_transform, lager_transform}]}.

{deps, [
        {lager, "~>3.5"},
        {recon, "~>2.3"},
        {folsom, "~>0.8"},
        {cowboy, "~>1.1"},
        {poolboy, "~>1.5"},
        {jsone, "~>1.4"},
        {hottub, ".*", {git, "git://github.com/bfrog/hottub.git", "HEAD"}},
        {dns, ".*", {git, "git://github.com/aetrion/dns_erlang.git", "HEAD"}}
       ]}.
